# --- Django PROD ---
DJANGO_DEBUG=0
DJANGO_SECRET_KEY=pon-aqui-una-clave-larga-aleatoria
DJANGO_ALLOWED_HOSTS=tu-dominio.com,tu-ip-lan

# Frontend en mismo origen (web) => http://tu-dominio
DJANGO_CORS_ALLOWED_ORIGINS=http://tu-dominio.com,http://tu-ip-lan
DJANGO_CSRF_TRUSTED_ORIGINS=http://tu-dominio.com,http://tu-ip-lan

# Auditoría contractual (HMAC fuerte)
AUDIT_HMAC_KEY=pon-aqui-una-clave-muy-larga-aleatoria

# --- Postgres ---
DB_ENGINE=django.db.backends.postgresql
POSTGRES_DB=erpcrm_db
POSTGRES_USER=erpcrm_user
POSTGRES_PASSWORD=pon-un-password-fuerte
POSTGRES_HOST=db
POSTGRES_PORT=5432
